img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* .row {
  display: grid;
} */

.bg-black {
  width: fit-content;
  border-radius: 5px;
}
.text-info {
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}
